.dog-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.dog-card {
  margin: 20px;
  width: 300px;
  height: 350px;
  padding: 40px 40px 30px 40px;
  background-color: #d6ccc2;
  border: 1px solid #d4c5b8;
}

.dog-card:hover {
  background-color: #d5bdaf;
  filter: drop-shadow(4px 4px 3px #b6a391);
}

.dog-info {
  display: flex;
  flex-direction: column;
  margin: auto auto 40px auto;
  align-items: center;
  width: fit-content;
  padding: 20px 50px 20px 50px;
  background-color: #d6ccc2;
}

.image-preview {
  width: 250px;
  height: 250px;
  object-fit: cover;
  filter: sepia(0.5) grayscale(0.4) drop-shadow(2px 2px 3px #b6a391);
  border-radius: 0%;
}

.dog-image {
  margin: 10px;
  width: 500px;
  filter: drop-shadow(2px 2px 3px #b6a391);
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #6e5b49;
  font-size: 1.5rem;
  margin: 10px;
  letter-spacing: 2px;
}

h2 {
  color: #6e5b49;
  font-size: 1.2rem;
  margin: 5px;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #5c4c3d;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #6e5b49;
}
