.dog-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #6e5b49;
  font-size: 1.5rem;
  margin: 10px;
  letter-spacing: 2px;
}

h2 {
  color: #6e5b49;
  font-size: 1.2rem;
  margin: 5px;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #5c4c3d;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #6e5b49;
}
