@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body {
  background-color: #faf5f0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #d6ccc2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  color: #6e5b49;
  filter: drop-shadow(3px 3px 3px #b6a391);
}

.App-header a {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: underline;
  letter-spacing: normal;
}

.App-header a:hover {
  font-weight: bold;
}

.App-header h1 {
  font-size: 1.8rem;
}

button {
  margin: 5px 10px 0px 10px;
  border: 0px;
  padding: 10px 15px 10px 15px;
  background-color: #d6ccc2;
  color: #5c4c3d;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

button:hover {
  color: #d6ccc2;
  background-color: #5c4c3d;
}
